body {
    font-family: poppins;
    margin: 0;
    padding: 0;
}
a,
a:focus, 
a:active, 
img:focus, 
img:active {
    -webkit-tap-highlight-color: transparent;
}
.page {
    display: none;
    overflow-x: hidden;

  }

.page.active {
    display: block;
    
  }

  #conditionalimage {
    display: none;
  }

  .logo-first {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 20%;
    z-index: 2;
  }

.back-first {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100.5%;
}

.get-premium {
    align-items: center;
    background-color: rgba(39, 51, 71, 1);
    padding: 5px;
    font-weight: 600;
    height: 40px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 85%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 13%;
    border: solid rgba(78, 102, 142, 1) 1px;
    border-radius: 20px;
}

.access-button {
    height: 35px;
    width: 100px;
    font-weight: 600;
    background: #0DA6C2;
    border: none;
    border-radius: 25px;
}
.access-button:active {
    transform: translateY(2px) scale(0.95); /* Simulates button press */
  }

.container-info {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 23%;
}

.info {
    font-size: 11px;
    width: 85px;
    border: 1px solid #EADD1E;
    border-radius: 15px;
    text-align: center;
    white-space: nowrap;
    background: transparent;
    padding: 7px;
    color: white;
}

.backfaded {
background-position-y: center;
background-attachment: fixed;
object-fit: cover;
margin-top: 9%;
z-index: -1;
}
.backfaded2 {
  
/* right: 50%; */
transform: translate(-50%,-50%);
left: 50%;
overflow-y: hidden;
position: fixed;
/* transform: scale(0.9); */
opacity: 0.7;
top: 60%;
/* left: 50%; */
z-index: 1;
}
#wallet {
  background-image: url(./static/icons/backfaded.png);
  background-position: 60%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}

#premium {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-image: url(./static/icons/baclpremium.png);
  background-color: black;
  background-size: cover;
  overflow: hidden;
  position: fixed;
  z-index: -1;

  /* height: 90% */
}

.coin-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 65%;
    text-align: center;
}

.points {
    font-family: 'Protest Guerrilla';
    margin-top: 2px;
    color: white;
    font-size: 40px;
}
.top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
    width: 95%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 5%;
    left: 50%;
}
.top-buttons {
    background: none;
    border: none;
}

.boost-button {
    margin-top: -30px;
    background-color: transparent;
    border: solid rgba(255, 121, 201, 1) 1px;
    width: 50%;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    width: 200px;
    outline: none;

    color: white;
    
}
.boost-button:active {
    transform: translateY(2px) scale(0.95); /* Simulates button press */
  }

  @keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);  /* Only move half way since we duplicated the content */
    }
}
  

  .container-market {
    animation: scroll 20s linear infinite;
    color: white;
    display: flex;
    flex-direction: row-reverse; 
    justify-content: flex-start; 
    align-items: center;
    width: max-content;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 10px; 
    box-sizing: border-box;
}

.market-display {
background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.9px);
-webkit-backdrop-filter: blur(3.9px);
border: 1px solid rgba(255, 255, 255, 1);

align-items: center;
justify-content: space-between;

    color: white;
    width: 130px;
    height: 85px;
    display: flex;
    flex-direction: column;
}

.display-top {
    margin-top: 5px;
    width: 100px;
    height: 30px;
    padding-right: 10px;
    gap: -5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.display-bottom {
    margin-bottom: 10px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    height: 30px;
    justify-content: space-between;
    gap: 5px;
}

.tube-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: transparent;
        color: white;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 130%;
        gap: 15px;
        left: 50%;
        padding: 10px;
      
}
.tube-container > div {
    width: 110px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
background: rgba(255, 255, 255, 0.53);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.8px);
-webkit-backdrop-filter: blur(9.8px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.pym-top {
    position: absolute;
    width: 98%;
    overflow-x: hidden;
    transform: translate(-50%, -50%);
    top: 162%;
    left: 50%;
}
.profiles-container {
    animation: scroll 20s linear infinite;
    color: white;
    display: flex;
    flex-direction: row-reverse; 
    justify-content: flex-start; 
    align-items: center;
    width: max-content;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 5px; 
    box-sizing: border-box;
}




.profile-card {
    display: flex;
    align-items: center;

    border-radius: 15px;
    padding: 2px;
    color: white;
    font-family: Arial, sans-serif;
    width: fit-content;
  }
  

  .profile-image img {
    width: 50px; 
    height: 50px;
    z-index: 7;
    border-radius: 50%; 
    object-fit: cover;
    margin-right: 5px; 
  }
  

  .profile-info {
    position: relative; 
  }
  
 
  .opal {
    position: relative;
    background-color: #2a2e37; 
    border-radius: 15px; 
    padding: 8px 15px 8px 15px; 
    height: 60px; 
    display: flex;
    align-items: center;
    color: white;
  }
  

  

  .text-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  

  .name-and-pym {
    display: flex;
    flex-direction: column;
  }
  

  .name {
    font-size: 14px; 
    font-weight: bold;
  }
  
 
  .pym {
    font-size: 12px;
    color: #ccc; 
  }
  

  .divider {
    width: 100%;
    height: 1px;
    background-color: #444;
    margin: 3px 0;
  }
  

  .points-user {
    font-size: 12px; 
    color: #aaa; 
  }

  .time-left {
    transform: translate(-50%,-50%);
    top: 181%;
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    background-image: linear-gradient(rgba(40, 39, 47, 1),rgba(4, 4, 4, 1));
    border-radius: 40px;
    width: 300px;
    height: 120px;
    text-align: center;
    box-shadow:0 0  15px 0.5px white;
  }



  .container-footer{
    z-index: 99;
    transform: translate(-50%,0);
    bottom: 0px;
    height: 70px;
    left: 50%;
    background-color: rgba(19, 26, 34, 1);
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    width: 101%;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;

  }
  .footer-button {
    background: none;
    border: none;
  }


  .container-premium-info {
    width: 95%;
    transform: translate(-50%,-50%);
    left: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: fixed;
    top: 47%;
    /* left: 50%; */
    /* gap: 1px; */

  }


  .list-premium {
    font-size: 15px;
display: flex;
flex-direction: row;
justify-content: space-between;
gap:7px;
padding: 15px;
  }
  .list-premium > img {
    margin-top: -40px;
  }

.span-list {
  width: 60%;
  font-size: 11px;
  opacity: 50%;
}

.get-premium-button {
  color: black;
  background-color: rgba(234, 221, 30, 1);
  border: none;
  width: 90%;
  height: 50px;
  transform: translate(-50%,-50%);
  left: 50%;
  position: fixed;
  bottom: 10%;
  font-size: 24px;
  font-weight: medium;
  border-radius: 20px;
}

.get-premium-button:active {
  transform:  scale(0.99); /* Simulates button press */
}

#progress-path-container {
  width: 98%;
  height: 600px;
  border: 1px solid #ddd;
  background-color: white;
  overflow: auto;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

svg {
  width: 100%;
  height: auto;
}

circle {
  transition: fill 0.3s ease;
}

text {
  font-size: 14px;
  font-weight: bold;
  fill: white;
  text-anchor: middle;
  dominant-baseline: middle;
}