body {
    font-family: poppins;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    user-select: none;
    
}
a,
a:focus, 
a:active, 
img:focus, 
img:active {
    -webkit-tap-highlight-color: transparent;
}
.page {
    display: none;
    overflow-x: hidden;

  }

.page.active {
    display: block;
    
  }

  #conditionalimage {
    display: none;
  }

  .logo-first {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 20%;
    z-index: 2;
  }

.back-first {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100.5%;
}

.get-premium {
    align-items: center;
    background-color: rgba(39, 51, 71, 1);
    padding: 5px;
    font-weight: 600;
    height: 40px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 85%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 13%;
    border: solid rgba(78, 102, 142, 1) 1px;
    border-radius: 20px;
}

.access-button {
    height: 35px;
    width: 100px;
    font-weight: 600;
    background: #0DA6C2;
    border: none;
    border-radius: 25px;
}
.access-button:active {
    transform: translateY(2px) scale(0.95); 
  }

.container-info {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 23%;
}

.info {
    font-size: 11px;
    width: 85px;
    border: 1px solid #EADD1E;
    border-radius: 15px;
    text-align: center;
    white-space: nowrap;
    background: transparent;
    padding: 7px;
    color: white;
}

.backfaded {
  background-position-y: center;
  background-attachment: fixed;
  object-fit: cover;
  margin-top: 9%;
  z-index: -1;
}
.backfaded2 {
  transform: translate(-50%,-50%);
  left: 50%;
  overflow-y: hidden;
  position: fixed;
  opacity: 0.7;
  top: 60%;
  z-index: 1;
}
#topholder {
  background-image: url(./static/icons/backtopholders.png);
  /* background-position: 60%; */
  margin: 0;
  padding: 0;
  width: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

#leaderboard {
  background-image: url(./static/icons/backleaderboard.png);
  /* background-position: 60%; */
  margin: 0;
  padding: 0;
  width: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
}
.overlay-tube {
  background-color: black;
  opacity: 0.5;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
}

#tube {
  
  background-image: url(./static/icons/backblur.png);
  /* background-position: 60%; */
  margin: 0;
  padding: 0;
  width: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
}
#boost {
  background-image: url(./static/icons/backboost.png);
  /* background-position: 60%; */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}
#wallet,#friend,#transactions{
  background-image: url(./static/icons/backfaded.png);
  background-position: 60%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}
#path {
  background-image: url(./static/icons/backstarts.png);
  z-index: 1;
  background-size: cover;
  
  width: 100%;
  height: 1900px;
  background-position: center;
  background-repeat: repeat-y;
  margin: 0;
  padding: 0;

}

#premium {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  background-image: url(./static/icons/baclpremium.png);
  background-color: black;
  background-size: cover;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}

.coin-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 65%;
  text-align: center;
}
#points {
  /* background-image: url(./static/icons/backfaded.png); */
  /* background-position: 60%; */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background-position: center;  */
  /* background-repeat: no-repeat; */
  /* background-color: black; */
  background-size: cover;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}

.points {
  font-family: 'Protest Guerrilla';
  margin-top: 2px;
  color: white;
  font-size: 40px;
}
.top-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  align-items: center;
  gap: 0px;
  width: 95%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 20;
}
.top-buttons {
  background: none;
  border: none;
  outline: none;
}

.boost-button {
  margin-top: -30px;
  background-color: transparent;
  border: solid rgba(255, 121, 201, 1) 1px;
  width: 50%;
  padding: 5px;
  border-radius: 25px;
  text-align: center;
  width: 200px;
  outline: none;
  color: white;
    
}
.boost-button:active {
  transform: translateY(2px) scale(0.95); 
  }

  @keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); 
    }
}
  

  .container-market {
  animation: scroll 20s linear infinite;
  color: white;
  display: flex;
  flex-direction: row-reverse; 
  justify-content: flex-start; 
  align-items: center;
  width: max-content;
  overflow-x: auto; 
  overflow-y: hidden; 
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 10px; 
  box-sizing: border-box;
}

.market-display {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 130px;
  height: 85px;
  display: flex;
  flex-direction: column;
}

.display-top {
  margin-top: 5px;
  width: 100px;
  height: 30px;
  padding-right: 10px;
  gap: -5px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.display-bottom {
  margin-bottom: 10px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  height: 30px;
  justify-content: space-between;
  gap: 5px;
}

.tube-container {
  background-color: black;
  opacity: 0.5;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 130%;
  gap: 15px;
  left: 50%;
  padding: 10px;
      
}
.tube-container > div {
  width: 110px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.pym-top {
  position: absolute;
  width: 98%;
  overflow-x: hidden;
  transform: translate(-50%, -50%);
  top: 162%;
  left: 50%;
}
.profiles-container {
  animation: scroll 20s linear infinite;
  color: white;
  display: flex;
  flex-direction: row-reverse; 
  justify-content: flex-start; 
  align-items: center;
  width: max-content;
  overflow-x: auto; 
  overflow-y: hidden; 
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 5px; 
  box-sizing: border-box;
}
.profiles-container-tube {
  
  color: white;
  display: flex;
  flex-direction: row; 
  justify-content: flex-end; 
  align-items: center;
  width: max-content;
  overflow-x: auto; 
  overflow-y: hidden; 
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 10px; 
  box-sizing: border-box;
}
.poser {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 21%;
}
.backgrounder {

  width: 120px;
   height: 120px;
     background-repeat: no-repeat;
      padding: 0;
      z-index: 10;
}
.img-text {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  white-space: nowrap;
  width: 90%;
  font-weight: 700;
  font-size: 10px;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  position: absolute;
}

.bottom-img {
background: rgba(255, 255, 255, 0.1);
border-radius: 0 0 16px 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.8px);
-webkit-backdrop-filter: blur(7.8px);
border-top: 5px solid rgba(255, 255, 255, 0.3);
height: 30px;

align-items: center;
  /* position: absolute; */
   /* transform: translate(-50%,-50%); */
    /* left: 50%; */
     /* top: 75%; */
     margin-top: 75px;
     z-index: 20;

        width:99.8%;

}


.profile-card {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 2px;
  color: white;
  font-family: Arial, sans-serif;
  width: fit-content;
  }
  

  .profile-image img {
  width: 50px; 
  height: 50px;
  z-index: 7;
  border-radius: 50%; 
  object-fit: cover;
  margin-right: 5px; 
  }
  

  .profile-info {
  position: relative; 
  }
  
 
  .opal {
  position: relative;
  background-color: #2a2e37; 
  border-radius: 15px; 
  padding: 8px 15px 8px 15px; 
  height: 60px; 
  display: flex;
  align-items: center;
  color: white;
  }
  

  

  .text-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  }
  

  .name-and-pym {
  display: flex;
  flex-direction: column;
  }
  

  .name {
  font-size: 14px; 
  font-weight: bold;
  }
  
 
  .pym {
  font-size: 12px;
  color: #ccc; 
  }
  

  .divider {
  width: 100%;
  height: 1px;
  background-color: #444;
  margin: 3px 0;
  }
  

  .points-user {
  font-size: 12px; 
  color: #aaa; 
  }

  .time-left {
  transform: translate(-50%,-50%);
  top: 181%;
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 48px;
  background-image: linear-gradient(rgba(40, 39, 47, 1),rgba(4, 4, 4, 1));
  border-radius: 40px;
  width: 300px;
  height: 120px;
  text-align: center;
  box-shadow:0 0  15px 0.5px white;
  }

  .container-footer{
  z-index: 20;
  transform: translate(-50%,0);
  bottom: 0px;
  height: 70px;
  left: 50%;
  background-color: rgba(19, 26, 34, 1);
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  width: 100.2%;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
  }

  .footer-button {
  background: none;
  border: none;
  }

  .container-premium-info {
  width: 95%;
  transform: translate(-50%,-50%);
  left: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 47%;
  }

  .list-premium {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:7px;
  padding: 15px;
  }

  .list-premium > img {
    margin-top: -40px;
  }

.span-list {
  width: 60%;
  font-size: 11px;
  opacity: 50%;
}

.get-premium-button {
  color: black;
  background-color: rgba(234, 221, 30, 1);
  border: none;
  width: 90%;
  height: 50px;
  transform: translate(-50%,-50%);
  left: 50%;
  position: fixed;
  bottom: 10%;
  font-size: 24px;
  font-weight: medium;
  border-radius: 20px;
}


.misile {
  position: absolute;
  width: 350px;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 20%;
  z-index: 2;
}

#progress-path-container {
  background: transparent;
  width: 90%;
  overflow: auto;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 135%;
  border-radius: 10px;
}

svg {
  width: 100%;
  height: auto;
}

circle {
  transition: fill 0.3s ease;
}

text {
  font-size: 14px;
  font-weight: bold;
  fill: white;
  text-anchor: middle;
  dominant-baseline: middle;
}
.container-path {
  color: white;
  width: 85%;
  transform: translate(-50%,-50%);
  left: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 250%;
  gap: 20px;
}

.div-path {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  height: 40px;
  border: solid rgba(234, 221, 30, 1) 2px;
  border-radius: 15px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  z-index: 5;
  padding-left: 5px;

}
.path-buttons {
  background-color: rgba(234, 221, 30, 1);
  border: none;
  width: 100px;
  height: 25px;
  border-radius: 15px;
  margin-right: 5px;
  outline: none;
}

.path-buttons:active {
  transform: translateY(2px) scale(0.95); 
}

.credit-info-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: transparent;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 27%;
  gap: 10px;
  left: 50%;
  padding: 10px;
}
.credit {
  height: 80px;
  width: 150px;
  border: solid white 1px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  padding: 5px;
}

.credit-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  z-index: 12;
  font-size: 24px;
  height: 70px;
}

.btn {
  padding: 10px 20px;
  border: none;
  width: 100px;
  height: 30px;
  line-height: 10px;
  background: none;
  color: white;
  border: solid white 1.2px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
}
.btn:active {
  -webkit-tap-highlight-color: transparent;
  outline: none; 
}

.btn.active {
  border: none;
  font-weight: 600;
  color: black;
  background-color: yellow;
}

#listContainer {
  border: solid white 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  margin-top: 8px;
  height: 150px;
  gap: 0;
  align-items: center;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;

}

.list-item {
  width: 95%;
  display: flex;
  height: 40px;
  margin: 0;
  line-height: 0.6;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  text-align: left;
}
.list-item3 {
  margin-left: 2.5%;
  width: 95%;
  display: flex;
  height: 45px;
  line-height: 0.6;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-align: center;
}
.list-item2 {
  width: 95%;
  display: flex;
  height: 45px;
  margin: 0;
  line-height: 0.6;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-align: left;
}
.span-in-item {
  opacity: 25%;
  font-size: 9px;
}
.span-in-item2 {
  opacity: 50%;
  font-size: 9px;
}

.button-invite {
  background-image: linear-gradient(rgba(234, 221, 30, 1),rgba(132, 125, 17, 1));
  color: black;
  width: 70%;
  text-align: center;
  height: 40px;
  border: none;
  border-radius: 10px;
}

.button-copy {
  width: 30%;
  color: black;
  background-color:white;
  text-align: center;
  height: 40px;
  line-height: 40px; 
  border: none;
  border-radius: 10px;
        }


.button-invite:active,.button-copy:active {
  -webkit-tap-highlight-color: transparent;
  outline: none; 
  transform: translateY(2px) scale(0.95);
}
.get-prm-popup:active {
  -webkit-tap-highlight-color: transparent;
  outline: none; 
  transform: translateY(2px) scale(0.95) translate(-50%,-50%);
}

#popup-overlay {
  display: none;
  position: fixed;
  top: 2%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 30;
  opacity: 1;
}

#popup-container {

  display: none;
  flex-direction: column;
  position: fixed;
  transform: translate(-50%,-50%);
  bottom: -24%;
  width: 95%;
  left: 50%;
  height: 50%;
  z-index: 55;
}
.get-prm-popup {
  background-image: linear-gradient(rgba(234, 221, 30, 1),rgba(132, 125, 17, 1));
   border: none;
    position: absolute;
     transform: translate(-50%,-50%);
      bottom: 3%;
      font-weight: 600;
       left: 50%; 
       width: 90%;
        height: 35px; 
        border-radius: 15px;
}

.container-leaderboard2 {
  overflow-y: scroll;
  gap: 1px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  transform: translate(-50%,-50%);
  left: 50%;
  width: 85%;
  top: 52%;
  border-radius: 15px;
  position: absolute;
  border: solid white 1px;
  height: 450px;
  scrollbar-width: none; 
  -ms-overflow-style: none;padding-left: 2px;
}
.container-leaderboard {
  overflow-y: scroll;
  gap: 1px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  transform: translate(-50%,-50%);
  left: 50%;
  width: 85%;
  top: 59%;
  border-radius: 15px;
  position: absolute;
  border: solid white 1px;
  height: 380px;
  scrollbar-width: none; 
  -ms-overflow-style: none;padding-left: 2px;
}
.container-list-item {
  display: flex; flex-direction: column; padding: 0; margin: 0;
}

.style-hr {
  width: 95%; color: rgba(255, 255, 255, 0.122); margin: 0; margin-left: 2.5%;
}
.pymblack {
  transform: scale(0.7);
}

.grid-container {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 52%;
  top: 62%;
  width: 95%;
  gap: 10px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 320px;
  scrollbar-width: none; 
  -ms-overflow-style: none;padding-left: 2px;
}
.img-tube {
  width: 100px;
  height: 100px;
}

.daily {
width: 100px;
height: 40px;
border-radius: 15px 0 0 15px;
border: solid rgba(234, 221, 30, 1) 1px;
background: none;
color: white;

}
.partners {
width: 100px;
height: 40px;
border-radius: 0 15px 15px 0;
border: solid rgba(234, 221, 30, 1) 1px;
background: none;
color: white;
}

.container-daily {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 85%;
  padding: 5px;
  height: 350px;
  gap: 15px;
  transform: translate(-50%,-50%);
  left: 50%;
  /* border: solid white 1px; */
  top: 45%;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-partners {
  display: none;
  flex-direction: column;
  position: fixed;
  width: 85%;
  padding: 5px;
  height: 350px;
  gap: 15px;
  transform: translate(-50%,-50%);
  left: 50%;
  /* border: solid white 1px; */
  top: 45%;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.daily-button {
  background-color: rgba(234, 221, 30, 1);
  border: none;
  width: 60px;
  border-radius: 15px;
  height: 30px;
}

.daily-button-active {
  background-color: white;
  color: black;
  border: none;
  width: 60px;
  border-radius: 15px;
  height: 30px;
}

.item-daily {
  border: solid rgba(234, 221, 30, 1) 1px;
  border-radius: 15px;
  height: 50px;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

        /* Active state can be combined with either button class */
        .active {
          /* Your active state styles */
          background-color: rgba(234, 221, 30, 1);
          color: black;
          font-weight: 700;
      }

      .inactive {
          /* Your inactive state styles */
          font-weight: 700;
      }

      #container-daily, #container-partners {
          margin-top: 100px;
          padding: 20px;
      }

      .row-coin {
        display: flex;
        flex-direction: row;
        border: solid rgba(234, 221, 30, 1) 1px;
        width: 95%;
        height: 100px;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        padding-right: 10px;
        font-size: 18px;
        font-weight: 700;

      }

      .left-coin {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        align-items: center;
        margin-left: -40px;
        padding: 0;
      }